# Entorno virtual
.venv/

# Archivos de base de datos
*.sqlite3

# Archivos de configuración sensibles
*.env

# Archivos temporales de Python
__pycache__/
*.py[cod]
*.log

# Archivos de migraciones generadas si no quieres subirlas (opcional)
# rinconapp/migrations/

# Archivos de sistema
.DS_Store
Thumbs.db
