<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rincon Magico</title>
</head>
<body>
    <h1>Rincon Magico</h1>
<header>
    <nav class="navbar">
        <div class="container">
            
            <a class="" href="{% url  'mostrar_calendario_reservas' %}">Calendario</a>
            <a class="" href="{% url 'mostrar_reservas' %}">Reservas</a>
            <a class="" href="{% url 'lista_clientes' %}">Lista de Clientes</a>
        </div>
    </nav>
</head>

</body>
</html>