{% extends "rinconapp/padre.html" %}
{% load static %}

{% block content %}

<style>
    .btn-reservar {
        background-color: #ead0d1;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        padding: 12px;
        transition: background-color 0.3s ease;
    }

    .btn-reservar:hover {
        background-color: #d08c91;
        /* Rosa más oscuro al hacer hover */
    }
</style>

<h1 style="text-align: center; margin: 10px;">Reserva tu Momento Mágico</h1>

<div style="display: flex; justify-content: center; align-items: center; min-height: 50vh;">
    <form method="POST" action="{% url 'reserva_formulario' %}" style="
        width: 400px;
        padding: 30px;
        border: 1px solid white;
        border-radius: 10px;
        background-color: transparent;
        box-shadow: none;
        font-weight: normal;
    ">
        {% csrf_token %}

        {% if mensaje_exito %}
        <div style="text-align: center; color: green; margin-top: 20px;">
            <strong>{{ mensaje_exito }}</strong>
        </div>
        {% endif %}

        <input type="text" name="nombre" placeholder="Nombre" required
            style="width: 100%; padding: 10px; margin-bottom: 15px;"><br>

        <input type="text" name="apellido" placeholder="Apellido" required
            style="width: 100%; padding: 10px; margin-bottom: 15px;"><br>

        <input type="text" name="telefono" placeholder="Teléfono" required
            style="width: 100%; padding: 10px; margin-bottom: 15px;"><br>

        <input type="text" name="nombre_plaza" placeholder="Plaza" required
            style="width: 100%; padding: 10px; margin-bottom: 15px;"><br>

        <input type="number" name="pago" step="0.01" placeholder="Pago" required
            style="width: 100%; padding: 10px; margin-bottom: 15px;"><br>

        <input type="date" name="fecha_evento" required style="width: 100%; padding: 10px; margin-bottom: 15px;"><br>

        <input type="time" name="hora_evento" required style="width: 100%; padding: 10px; margin-bottom: 15px;"><br>

        <input type="text" name="direccion_evento" placeholder="Dirección del evento" required
            style="width: 100%; padding: 10px; margin-bottom: 15px;"><br>

        <input type="submit" value="Reservar" class="btn-reservar">

    </form>
</div>

{% endblock %}